In [2]:
import os
import sys
import csv
import numpy as np
from sklearn import svm
from sklearn.metrics import confusion_matrix as cmat
import collections
import itertools
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report as report  
from sklearn.model_selection import *
from sklearn.feature_selection import *
import matplotlib.pyplot as plt
import time
import random
import numpy
from datetime import datetime
import pandas as pd
import requests
import re
import xarray as xr
import pickle

In [4]:
directory = '../data/line_p_data/Rosette'
filename = directory+'/'+'cruise-2007-01-station-ros.csv'
ross_data = pd.DataFrame()

ross_data = pd.read_csv(filename)
ross_data

,File Name,Zone,FIL:START TIME YYYY/MM/DD,HH:MM,LOC:EVENT_NUMBER,latitude,longitude,station,Sample_Number,Bottle_Number,...,Flag:Silicate:Bottle,Chlorophyll:Extracted:Bottle [mg/m^3],Flag:Chlorophyll:Extracted:Bottle,Dimethyl_Sulphide:Bottle [nmol/l],Flag:Dimethyl_Sulphide:Bottle,Carbon:Dissolved:Inorganic:Bottle [µmol/kg],Flag:Carbon:Dissolved:Inorganic:Bottle,Alkalinity:Total:Bottle [µmol/kg],Flag:Alkalinity:Total:Bottle,Comments
0,2007-01-0003.che,UTC,09/02/2007,10:21,3,48.57583,-125.49966,1,36,1,...,0.0,0.76,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2007-01-0004.che,UTC,09/02/2007,12:45,4,48.60050,-126.00050,2,44,8,...,0.0,0.87,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2007-01-0006.che,UTC,09/02/2007,14:56,6,48.62533,-126.33334,3,45,1,...,0.0,0.75,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2007-01-0007.che,UTC,09/02/2007,16:48,7,48.65033,-126.66700,4,65,20,...,0.0,NaN,NaN,NaN,NaN,2021.33,0.0,2164.9,0.0,NaN
4,2007-01-0009.che,UTC,09/02/2007,18:48,9,48.65000,-126.66650,4,77,12,...,0.0,0.68,0.0,0.20,0.0,NaN,NaN,NaN,NaN,NaN
5,2007-01-0009.che,UTC,09/02/2007,18:48,9,48.65000,-126.66650,4,78,13,...,0.0,0.63,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
6,2007-01-0009.che,UTC,09/02/2007,18:48,9,48.65000,-126.66650,4,79,14,...,0.0,0.67,0.0,0.22,0.0,NaN,NaN,NaN,NaN,NaN
7,2007-01-0012.che,UTC,09/02/2007,23:00,12,48.69100,-127.16534,5,80,1,...,0.0,0.61,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2007-01-0014.che,UTC,10/02/2007,02:35,14,48.74367,-127.66666,6,81,1,...,0.0,0.59,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2007-01-0017.che,UTC,10/02/2007,06:24,17,48.77717,-128.17084,7,82,1,...,0.0,0.72,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2007-01-0019.che,UTC,10/02/2007,10:12,19,48.81650,-128.66684,8,102,20,...,0.0,0.58,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2007-01-0020.che,UTC,10/02/2007,13:45,20,48.85667,-129.16617,9,103,1,...,0.0,0.50,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2007-01-0021.che,UTC,10/02/2007,16:39,21,48.89317,-129.66550,10,104,1,...,0.0,0.49,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2007-01-0023.che,UTC,10/02/2007,20:07,23,48.93333,-130.16701,11,105,1,...,0.0,0.54,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2007-01-0025.che,UTC,10/02/2007,23:23,25,48.97050,-130.66667,12,117,12,...,0.0,0.47,0.0,0.59,0.0,NaN,NaN,NaN,NaN,NaN
15,2007-01-0025.che,UTC,10/02/2007,23:23,25,48.97050,-130.66667,12,118,13,...,0.0,0.48,0.0,0.57,0.0,NaN,NaN,NaN,NaN,NaN
16,2007-01-0030.che,UTC,11/02/2007,02:34,30,48.97066,-130.66701,12,141,23,...,0.0,NaN,NaN,NaN,NaN,2013.80,0.0,2174.0,0.0,NaN
17,2007-01-0030.che,UTC,11/02/2007,02:34,30,48.97066,-130.66701,12,142,24,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
18,2007-01-0031.che,UTC,11/02/2007,08:27,31,49.04300,-131.66716,13,143,1,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2007-01-0032.che,UTC,11/02/2007,13:17,32,49.12383,-132.66716,14,144,1,...,0.0,0.64,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2007-01-0033.che,UTC,11/02/2007,18:10,33,49.20050,-133.66583,15,145,1,...,0.0,0.77,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2007-01-0036.che,UTC,11/02/2007,23:52,36,49.28316,-134.66650,16,157,12,...,0.0,0.74,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
22,2007-01-0036.che,UTC,11/02/2007,23:52,36,49.28316,-134.66650,16,158,13,...,0.0,0.77,0.0,1.14,0.0,NaN,NaN,NaN,NaN,NaN
23,2007-01-0036.che,UTC,11/02/2007,23:52,36,49.28316,-134.66650,16,159,14,...,0.0,0.73,0.0,1.20,0.0,NaN,NaN,NaN,NaN,NaN
24,2007-01-0041.che,UTC,12/02/2007,02:27,41,49.28300,-134.66634,16,183,24,...,0.0,NaN,NaN,NaN,NaN,2030.90,0.0,2192.1,0.0,NaN
25,2007-01-0042.che,UTC,12/02/2007,09:08,42,49.35000,-135.66750,17,184,1,...,0.0,0.45,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2007-01-0043.che,UTC,12/02/2007,14:10,43,49.43350,-136.66667,18,185,1,...,0.0,0.46,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2007-01-0044.che,UTC,12/02/2007,19:28,44,49.50000,-137.66650,19,186,1,...,0.0,0.57,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2007-01-0046.che,UTC,13/02/2007,00:40,46,49.56867,-138.66733,20,198,12,...,0.0,0.48,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
29,2007-01-0046.che,UTC,13/02/2007,00:40,46,49.56867,-138.66733,20,199,13,...,0.0,0.50,0.0,0.58,0.0,NaN,NaN,NaN,NaN,Sample Number 199: Oxygen:Dissolved:Bottle - o...
30,2007-01-0046.che,UTC,13/02/2007,00:40,46,49.56867,-138.66733,20,200,14,...,0.0,0.49,0.0,0.60,0.0,NaN,NaN,NaN,NaN,NaN
31,2007-01-0051.che,UTC,13/02/2007,16:01,51,49.56633,-138.66750,20,224,24,...,0.0,NaN,NaN,NaN,NaN,2027.27,0.0,2169.2,NaN,NaN
32,2007-01-0052.che,UTC,13/02/2007,22:27,52,49.63167,-139.66933,21,225,1,...,0.0,0.44,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2007-01-0066.che,UTC,15/02/2007,13:18,66,49.99983,-144.99966,26,232,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2007-01-0067.che,UTC,15/02/2007,16:49,67,49.99933,-145.00017,26,244,12,...,0.0,0.36,3.0,0.20,0.0,NaN,NaN,NaN,NaN,Samples Number 243-244-245: Chlorophyll:Extrac...
35,2007-01-0067.che,UTC,15/02/2007,16:49,67,49.99933,-145.00017,26,245,13,...,0.0,0.40,3.0,0.28,0.0,NaN,NaN,NaN,NaN,Samples Number 243-244-245: Chlorophyll:Extrac...
36,2007-01-0068.che,UTC,15/02/2007,17:55,68,49.99950,-144.99933,26,269,24,...,0.0,NaN,NaN,NaN,NaN,2038.00,0.0,NaN,NaN,NaN
37,2007-01-0069.che,UTC,15/02/2007,22:14,69,50.00017,-145.00017,26,285,16,...,0.0,0.34,0.0,0.41,0.0,NaN,NaN,NaN,NaN,NaN
38,2007-01-0069.che,UTC,15/02/2007,22:14,69,50.00017,-145.00017,26,286,17,...,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
39,2007-01-0069.che,UTC,15/02/2007,22:14,69,50.00017,-145.00017,26,287,18,...,0.0,0.33,0.0,0.36,0.0,NaN,NaN,NaN,NaN,NaN
40,2007-01-0072.che,UTC,16/02/2007,03:02,72,49.99983,-144.99899,26,299,12,...,0.0,0.41,0.0,0.26,0.0,NaN,NaN,NaN,NaN,NaN
41,2007-01-0072.che,UTC,16/02/2007,03:02,72,49.99983,-144.99899,26,300,13,...,0.0,0.41,0.0,0.25,0.0,NaN,NaN,NaN,NaN,NaN
42,2007-01-0083.che,UTC,16/02/2007,20:31,83,50.89967,-143.59267,33,341,19,...,0.0,0.34,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2007-01-0074.che,UTC,16/02/2007,06:16,74,50.44950,-144.99950,41,301,1,...,0.0,0.42,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2007-01-0082.che,UTC,16/02/2007,16:30,82,50.90033,-144.28850,49,322,1,...,0.0,0.44,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:

for filename in os.listdir(directory):
    each_data = pd.read_csv(directory+'/'+filename, error_bad_lines=False)
    ross_data = pd.concat([ross_data,each_data],axis=0)

ross_data.head(100)

C:\Users\valera\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,HH:MM,Alkalinity:Total:Bottle [µmol/kg],Bottle:Firing_Sequence,Bottle_Number,Carbon:Dissolved:Inorganic:Bottle [µmol/kg],Chlorophyll:Extracted:Bottle,Chlorophyll:Extracted:Bottle [mg/m^3],Comments,Comments_2,Dimethyl_Sulphide:Bottle,...,Unnamed: 42,Zone,latitude,longitude,mass_concentration_of_chlorophyll,moles_of_oxygen_per_unit_mass_in_sea_water,pH:Bottle,sea_water_pressure,sea_water_temperature,station
0,10:21,NaN,NaN,1,NaN,NaN,0.76,NaN,NaN,NaN,...,NaN,UTC,48.57583,-125.49966,NaN,281.6,NaN,NaN,NaN,1
1,12:45,NaN,NaN,8,NaN,NaN,0.87,NaN,NaN,NaN,...,NaN,UTC,48.60050,-126.00050,NaN,280.4,NaN,NaN,NaN,2
2,14:56,NaN,NaN,1,NaN,NaN,0.75,NaN,NaN,NaN,...,NaN,UTC,48.62533,-126.33334,NaN,287.0,NaN,NaN,NaN,3
3,16:48,2164.9,NaN,20,2021.33,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,48.65033,-126.66700,NaN,286.5,NaN,NaN,NaN,4
4,18:48,NaN,NaN,12,NaN,NaN,0.68,NaN,NaN,NaN,...,NaN,UTC,48.65000,-126.66650,NaN,288.6,NaN,NaN,NaN,4
5,18:48,NaN,NaN,13,NaN,NaN,0.63,NaN,NaN,NaN,...,NaN,UTC,48.65000,-126.66650,NaN,288.6,NaN,NaN,NaN,4
6,18:48,NaN,NaN,14,NaN,NaN,0.67,NaN,NaN,NaN,...,NaN,UTC,48.65000,-126.66650,NaN,288.6,NaN,NaN,NaN,4
7,23:00,NaN,NaN,1,NaN,NaN,0.61,NaN,NaN,NaN,...,NaN,UTC,48.69100,-127.16534,NaN,290.8,NaN,NaN,NaN,5
8,02:35,NaN,NaN,1,NaN,NaN,0.59,NaN,NaN,NaN,...,NaN,UTC,48.74367,-127.66666,NaN,291.6,NaN,NaN,NaN,6
9,06:24,NaN,NaN,1,NaN,NaN,0.72,NaN,NaN,NaN,...,NaN,UTC,48.77717,-128.17084,NaN,293.0,NaN,NaN,NaN,7
10,10:12,NaN,NaN,20,NaN,NaN,0.58,NaN,NaN,NaN,...,NaN,UTC,48.81650,-128.66684,NaN,295.3,NaN,NaN,NaN,8
11,13:45,NaN,NaN,1,NaN,NaN,0.50,NaN,NaN,NaN,...,NaN,UTC,48.85667,-129.16617,NaN,292.6,NaN,NaN,NaN,9
12,16:39,NaN,NaN,1,NaN,NaN,0.49,NaN,NaN,NaN,...,NaN,UTC,48.89317,-129.66550,NaN,291.8,NaN,NaN,NaN,10
13,20:07,NaN,NaN,1,NaN,NaN,0.54,NaN,NaN,NaN,...,NaN,UTC,48.93333,-130.16701,NaN,293.3,NaN,NaN,NaN,11
14,23:23,NaN,NaN,12,NaN,NaN,0.47,NaN,NaN,NaN,...,NaN,UTC,48.97050,-130.66667,NaN,294.8,NaN,NaN,NaN,12
15,23:23,NaN,NaN,13,NaN,NaN,0.48,NaN,NaN,NaN,...,NaN,UTC,48.97050,-130.66667,NaN,294.9,NaN,NaN,NaN,12
16,02:34,2174.0,NaN,23,2013.80,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,48.97066,-130.66701,NaN,293.1,NaN,NaN,NaN,12
17,02:34,NaN,NaN,24,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,48.97066,-130.66701,NaN,292.9,NaN,NaN,NaN,12
18,08:27,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.04300,-131.66716,NaN,290.3,NaN,NaN,NaN,13
19,13:17,NaN,NaN,1,NaN,NaN,0.64,NaN,NaN,NaN,...,NaN,UTC,49.12383,-132.66716,NaN,295.2,NaN,NaN,NaN,14
20,18:10,NaN,NaN,1,NaN,NaN,0.77,NaN,NaN,NaN,...,NaN,UTC,49.20050,-133.66583,NaN,299.4,NaN,NaN,NaN,15
21,23:52,NaN,NaN,12,NaN,NaN,0.74,NaN,NaN,NaN,...,NaN,UTC,49.28316,-134.66650,NaN,306.0,NaN,NaN,NaN,16
22,23:52,NaN,NaN,13,NaN,NaN,0.77,NaN,NaN,NaN,...,NaN,UTC,49.28316,-134.66650,NaN,305.9,NaN,NaN,NaN,16
23,23:52,NaN,NaN,14,NaN,NaN,0.73,NaN,NaN,NaN,...,NaN,UTC,49.28316,-134.66650,NaN,305.7,NaN,NaN,NaN,16
24,02:27,2192.1,NaN,24,2030.90,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.28300,-134.66634,NaN,303.9,NaN,NaN,NaN,16
25,09:08,NaN,NaN,1,NaN,NaN,0.45,NaN,NaN,NaN,...,NaN,UTC,49.35000,-135.66750,NaN,298.0,NaN,NaN,NaN,17
26,14:10,NaN,NaN,1,NaN,NaN,0.46,NaN,NaN,NaN,...,NaN,UTC,49.43350,-136.66667,NaN,297.0,NaN,NaN,NaN,18
27,19:28,NaN,NaN,1,NaN,NaN,0.57,NaN,NaN,NaN,...,NaN,UTC,49.50000,-137.66650,NaN,300.0,NaN,NaN,NaN,19
28,00:40,NaN,NaN,12,NaN,NaN,0.48,NaN,NaN,NaN,...,NaN,UTC,49.56867,-138.66733,NaN,305.9,NaN,NaN,NaN,20
29,00:40,NaN,NaN,13,NaN,NaN,0.50,Sample Number 199: Oxygen:Dissolved:Bottle - o...,NaN,NaN,...,NaN,UTC,49.56867,-138.66733,NaN,305.9,NaN,NaN,NaN,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,09:08,NaN,NaN,1,NaN,NaN,0.45,NaN,NaN,NaN,...,NaN,UTC,49.35000,-135.66750,NaN,298.0,NaN,NaN,NaN,17
26,14:10,NaN,NaN,1,NaN,NaN,0.46,NaN,NaN,NaN,...,NaN,UTC,49.43350,-136.66667,NaN,297.0,NaN,NaN,NaN,18
27,19:28,NaN,NaN,1,NaN,NaN,0.57,NaN,NaN,NaN,...,NaN,UTC,49.50000,-137.66650,NaN,300.0,NaN,NaN,NaN,19
28,00:40,NaN,NaN,12,NaN,NaN,0.48,NaN,NaN,NaN,...,NaN,UTC,49.56867,-138.66733,NaN,305.9,NaN,NaN,NaN,20
29,00:40,NaN,NaN,13,NaN,NaN,0.50,Sample Number 199: Oxygen:Dissolved:Bottle - o...,NaN,NaN,...,NaN,UTC,49.56867,-138.66733,NaN,305.9,NaN,NaN,NaN,20
30,00:40,NaN,NaN,14,NaN,NaN,0.49,NaN,NaN,NaN,...,NaN,UTC,49.56867,-138.66733,NaN,306.0,NaN,NaN,NaN,20
31,16:01,2169.2,NaN,24,2027.27,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.56633,-138.66750,NaN,304.6,NaN,NaN,NaN,20
32,22:27,NaN,NaN,1,NaN,NaN,0.44,NaN,NaN,NaN,...,NaN,UTC,49.63167,-139.66933,NaN,304.2,NaN,NaN,NaN,21
33,13:18,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99983,-144.99966,NaN,307.4,NaN,NaN,NaN,26
34,16:49,NaN,NaN,12,NaN,NaN,0.36,Samples Number 243-244-245: Chlorophyll:Extrac...,NaN,NaN,...,NaN,UTC,49.99933,-145.00017,NaN,311.3,NaN,NaN,NaN,26
35,16:49,NaN,NaN,13,NaN,NaN,0.40,Samples Number 243-244-245: Chlorophyll:Extrac...,NaN,NaN,...,NaN,UTC,49.99933,-145.00017,NaN,311.2,NaN,NaN,NaN,26
36,17:55,NaN,NaN,24,2038.00,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99950,-144.99933,NaN,309.3,NaN,NaN,NaN,26
37,22:14,NaN,NaN,16,NaN,NaN,0.34,NaN,NaN,NaN,...,NaN,UTC,50.00017,-145.00017,NaN,311.2,NaN,NaN,NaN,26
38,22:14,NaN,NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,50.00017,-145.00017,NaN,311.2,NaN,NaN,NaN,26
39,22:14,NaN,NaN,18,NaN,NaN,0.33,NaN,NaN,NaN,...,NaN,UTC,50.00017,-145.00017,NaN,311.3,NaN,NaN,NaN,26
40,03:02,NaN,NaN,12,NaN,NaN,0.41,NaN,NaN,NaN,...,NaN,UTC,49.99983,-144.99899,NaN,311.2,NaN,NaN,NaN,26
41,03:02,NaN,NaN,13,NaN,NaN,0.41,NaN,NaN,NaN,...,NaN,UTC,49.99983,-144.99899,NaN,311.2,NaN,NaN,NaN,26
42,20:31,NaN,NaN,19,NaN,NaN,0.34,NaN,NaN,NaN,...,NaN,UTC,50.89967,-143.59267,NaN,313.2,NaN,NaN,NaN,33
43,06:16,NaN,NaN,1,NaN,NaN,0.42,NaN,NaN,NaN,...,NaN,UTC,50.44950,-144.99950,NaN,307.0,NaN,NaN,NaN,41
44,16:30,NaN,NaN,1,NaN,NaN,0.44,NaN,NaN,NaN,...,NaN,UTC,50.90033,-144.28850,NaN,311.8,NaN,NaN,NaN,49
0,09:01,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,48.57516,-125.49950,6.031,301.9,NaN,NaN,NaN,1
1,09:01,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,48.57516,-125.49950,6.070,303.1,NaN,NaN,NaN,1
2,09:01,NaN,NaN,4,NaN,NaN,8.36,NaN,NaN,NaN,...,NaN,UTC,48.57516,-125.49950,6.061,304.0,NaN,NaN,NaN,1
3,09:01,NaN,NaN,5,NaN,NaN,8.33,Sample Number 28: Oxygen:Dissolved:Bottle - no...,NaN,NaN,...,NaN,UTC,48.57516,-125.49950,6.051,305.0,NaN,NaN,NaN,1
4,11:45,NaN,NaN,1,NaN,NaN,NaN,Sample Number 29: Salinity:Bottle - unstable; ...,NaN,NaN,...,NaN,UTC,48.59967,-126.00100,0.051,76.7,NaN,NaN,NaN,2
5,11:45,NaN,NaN,2,NaN,NaN,0.06,NaN,NaN,NaN,...,NaN,UTC,48.59967,-126.00100,0.052,73.8,NaN,NaN,NaN,2
6,11:45,NaN,NaN,3,NaN,NaN,0.06,NaN,NaN,NaN,...,NaN,UTC,48.59967,-126.00100,0.060,124.2,NaN,NaN,NaN,2
7,11:45,NaN,NaN,4,NaN,NaN,0.05,NaN,NaN,NaN,...,NaN,UTC,48.59967,-126.00100,0.060,125.5,NaN,NaN,NaN,2
8,11:45,NaN,NaN,5,NaN,NaN,0.18,NaN,NaN,NaN,...,NaN,UTC,48.59967,-126.00100,0.124,156.3,NaN,NaN,NaN,2
9,11:45,NaN,NaN,6,NaN,NaN,1.97,NaN,NaN,NaN,...,NaN,UTC,48.59967,-126.00100,1.473,274.1,NaN,NaN,NaN,2

In [6]:
ross_data = ross_data.fillna(-999.0)
ross_data.astype(bool).sum(axis=0)

 HH:MM                                                  18878
Alkalinity:Total:Bottle [µmol/kg]                       18878
Bottle:Firing_Sequence                                  18878
Bottle_Number                                           18878
Carbon:Dissolved:Inorganic:Bottle [µmol/kg]             18878
Chlorophyll:Extracted:Bottle                            18878
Chlorophyll:Extracted:Bottle [mg/m^3]                   18878
Comments                                                18878
Comments_2                                              18878
Dimethyl_Sulphide:Bottle                                18868
Dimethyl_Sulphide:Bottle [nmol/l]                       18385
Dimethylsulfoniopropionate_Dissolved:Bottle [nmol/l]    18868
Dimethylsulfoniopropionate_Total:Bottle [nmol/l]        18875
FIL:START TIME DD/MM/YYYY                               18878
FIL:START TIME YYYY/MM/DD                               18878
File Name                                               18878
Flag:Alkalinity:Total:Bottle                            18636
Flag:Carbon:Dissolved:Inorganic:Bottle                  18624
Flag:Chlorophyll:Extracted:Bottle                       14893
Flag:Dimethyl_Sulphide:Bottle                           17136
Flag:Dimethylsulfoniopropionate_Dissolved:Bottle        18769
Flag:Dimethylsulfoniopropionate_Total:Bottle            18769
Flag:Nitrate_plus_Nitrite:Bottle                        11738
Flag:Oxygen:Dissolved:Bottle                            16471
Flag:Oxygen:Dissolved:Bottle:Volume                     18836
Flag:Phosphate:Bottle                                   11744
Flag:Salinity:Bottle                                    13673
Flag:Silicate:Bottle                                    11795
Flag:pH:Bottle                                          18755
Fluorescence:CTD [mg/m^3]                               18852
                                                        ...
Phosphate:Bottle                                        18878
Phosphate:Bottle [µmol/l]                               18878
Pressure:CTD [dbar]                                     18878
Salinity:Bottle                                         18878
Salinity:Bottle [PSS-78]                                18878
Salinity:CTD                                            18878
Salinity:CTD [PSS-78]                                   18878
Salinity:Practical:CTD                                  18878
Salinity:Practical:CTD [PSS-78]                         18878
Sample_Number                                           18878
Sigma-t:CTD                                             18878
Sigma-t:CTD [kg/m^3]                                    18878
Silicate:Bottle                                         18878
Silicate:Bottle [µmol/l]                                18878
Temperature:CTD [deg_C_(ITS90)]                         18878
Transmissivity:CTD [%/m]                                18878
Transmissivity:CTD [*/m]                                18878
Unnamed: 39                                             18878
Unnamed: 40                                             18878
Unnamed: 41                                             18878
Unnamed: 42                                             18878
Zone                                                    18878
latitude                                                18878
longitude                                               18878
mass_concentration_of_chlorophyll                       18805
moles_of_oxygen_per_unit_mass_in_sea_water              18878
pH:Bottle                                               18878
sea_water_pressure                                      18878
sea_water_temperature                                   18878
station                                                 18878
Length: 78, dtype: int64

In [15]:
multioutput = ross_data[['moles_of_oxygen_per_unit_mass_in_sea_water','Silicate:Bottle [µmol/l]','Nitrate_plus_Nitrite:Bottle','Phosphate:Bottle [µmol/l]']]

In [19]:
multioutput.fillna(0)
multioutput.astype(bool).sum(axis=0)

moles_of_oxygen_per_unit_mass_in_sea_water    18878
Silicate:Bottle [µmol/l]                      18878
Nitrate_plus_Nitrite:Bottle                   18865
Phosphate:Bottle [µmol/l]                     18878
dtype: int64

In [11]:
parameters = ross_data[['FIL:START TIME YYYY/MM/DD',' HH:MM','latitude','longitude','Pressure:CTD [dbar]','Temperature:CTD [deg_C_(ITS90)]','Salinity:Practical:CTD [PSS-78]']]

In [12]:
parameters

,FIL:START TIME YYYY/MM/DD,HH:MM,latitude,longitude,Pressure:CTD [dbar],Temperature:CTD [deg_C_(ITS90)],Salinity:Practical:CTD [PSS-78]
0,09/02/2007,10:21,48.57583,-125.49966,6.0,8.4299,NaN
1,09/02/2007,12:45,48.60050,-126.00050,5.8,8.2880,NaN
2,09/02/2007,14:56,48.62533,-126.33334,4.6,8.3349,NaN
3,09/02/2007,16:48,48.65033,-126.66700,5.2,8.7896,NaN
4,09/02/2007,18:48,48.65000,-126.66650,7.8,8.7918,NaN
5,09/02/2007,18:48,48.65000,-126.66650,7.7,8.7917,NaN
6,09/02/2007,18:48,48.65000,-126.66650,2.2,8.7938,NaN
7,09/02/2007,23:00,48.69100,-127.16534,4.9,8.4059,NaN
8,10/02/2007,02:35,48.74367,-127.66666,7.2,8.3560,NaN
9,10/02/2007,06:24,48.77717,-128.17084,2.3,8.2108,NaN
10,10/02/2007,10:12,48.81650,-128.66684,3.4,8.1030,NaN
11,10/02/2007,13:45,48.85667,-129.16617,5.2,7.9226,NaN
12,10/02/2007,16:39,48.89317,-129.66550,5.1,8.2017,NaN
13,10/02/2007,20:07,48.93333,-130.16701,6.0,8.2174,NaN
14,10/02/2007,23:23,48.97050,-130.66667,4.6,8.4041,NaN
15,10/02/2007,23:23,48.97050,-130.66667,3.1,8.4056,NaN
16,11/02/2007,02:34,48.97066,-130.66701,5.6,8.4060,NaN
17,11/02/2007,02:34,48.97066,-130.66701,5.6,8.4056,NaN
18,11/02/2007,08:27,49.04300,-131.66716,4.4,8.3567,NaN
19,11/02/2007,13:17,49.12383,-132.66716,3.3,7.6404,NaN
20,11/02/2007,18:10,49.20050,-133.66583,6.0,7.1608,NaN
21,11/02/2007,23:52,49.28316,-134.66650,5.3,7.0838,NaN
22,11/02/2007,23:52,49.28316,-134.66650,5.4,7.0865,NaN
23,11/02/2007,23:52,49.28316,-134.66650,1.3,7.0954,NaN
24,12/02/2007,02:27,49.28300,-134.66634,6.0,7.0891,NaN
25,12/02/2007,09:08,49.35000,-135.66750,6.9,7.0958,NaN
26,12/02/2007,14:10,49.43350,-136.66667,4.4,7.1859,NaN
27,12/02/2007,19:28,49.50000,-137.66650,5.1,6.9253,NaN
28,13/02/2007,00:40,49.56867,-138.66733,5.9,6.7315,NaN
29,13/02/2007,00:40,49.56867,-138.66733,6.2,6.7321,NaN
...,...,...,...,...,...,...,...
473,26-02-18,22:03,50.00050,-144.99966,NaN,NaN,NaN
474,26-02-18,22:03,50.00050,-144.99966,NaN,NaN,NaN
475,26-02-18,22:03,50.00050,-144.99966,NaN,NaN,NaN
476,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
477,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
478,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
479,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
480,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
481,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
482,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
483,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
484,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
485,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
486,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
487,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
488,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
489,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
490,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
491,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
492,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
493,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
494,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
495,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
496,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
497,27-02-18,00:08,49.99933,-144.99950,NaN,NaN,NaN
498,27-02-18,05:27,49.99900,-144.30350,NaN,NaN,NaN
499,27-02-18,05:27,49.99900,-144.30350,NaN,NaN,NaN
500,27-02-18,02:45,50.14233,-144.83234,NaN,NaN,NaN
501,27-02-18,02:45,50.14233,-144.83234,NaN,NaN,NaN
502,27-02-18,02:45,50.14233,-144.83234,NaN,NaN,NaN

In [60]:
ross_data.to_csv(directory+'/'+'ross_data_consolidated.csv',index=False)

In [7]:
ross_data = ross_data.replace(-999,np.nan)
ross_data = ross_data.replace('-999.0',np.nan,regex=True)
ross_data = ross_data.replace('-999.00',np.nan)
ross_data = ross_data.replace('-999.0000',np.nan)

In [8]:
ross_data

,HH:MM,Alkalinity:Total:Bottle [µmol/kg],Bottle:Firing_Sequence,Bottle_Number,Carbon:Dissolved:Inorganic:Bottle [µmol/kg],Chlorophyll:Extracted:Bottle,Chlorophyll:Extracted:Bottle [mg/m^3],Comments,Comments_2,Dimethyl_Sulphide:Bottle,...,Unnamed: 42,Zone,latitude,longitude,mass_concentration_of_chlorophyll,moles_of_oxygen_per_unit_mass_in_sea_water,pH:Bottle,sea_water_pressure,sea_water_temperature,station
0,10:21,NaN,NaN,1,NaN,NaN,0.76,NaN,NaN,NaN,...,NaN,UTC,48.57583,-125.49966,NaN,281.6,NaN,NaN,NaN,1
1,12:45,NaN,NaN,8,NaN,NaN,0.87,NaN,NaN,NaN,...,NaN,UTC,48.60050,-126.00050,NaN,280.4,NaN,NaN,NaN,2
2,14:56,NaN,NaN,1,NaN,NaN,0.75,NaN,NaN,NaN,...,NaN,UTC,48.62533,-126.33334,NaN,287.0,NaN,NaN,NaN,3
3,16:48,2164.9,NaN,20,2021.33,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,48.65033,-126.66700,NaN,286.5,NaN,NaN,NaN,4
4,18:48,NaN,NaN,12,NaN,NaN,0.68,NaN,NaN,NaN,...,NaN,UTC,48.65000,-126.66650,NaN,288.6,NaN,NaN,NaN,4
5,18:48,NaN,NaN,13,NaN,NaN,0.63,NaN,NaN,NaN,...,NaN,UTC,48.65000,-126.66650,NaN,288.6,NaN,NaN,NaN,4
6,18:48,NaN,NaN,14,NaN,NaN,0.67,NaN,NaN,NaN,...,NaN,UTC,48.65000,-126.66650,NaN,288.6,NaN,NaN,NaN,4
7,23:00,NaN,NaN,1,NaN,NaN,0.61,NaN,NaN,NaN,...,NaN,UTC,48.69100,-127.16534,NaN,290.8,NaN,NaN,NaN,5
8,02:35,NaN,NaN,1,NaN,NaN,0.59,NaN,NaN,NaN,...,NaN,UTC,48.74367,-127.66666,NaN,291.6,NaN,NaN,NaN,6
9,06:24,NaN,NaN,1,NaN,NaN,0.72,NaN,NaN,NaN,...,NaN,UTC,48.77717,-128.17084,NaN,293.0,NaN,NaN,NaN,7
10,10:12,NaN,NaN,20,NaN,NaN,0.58,NaN,NaN,NaN,...,NaN,UTC,48.81650,-128.66684,NaN,295.3,NaN,NaN,NaN,8
11,13:45,NaN,NaN,1,NaN,NaN,0.50,NaN,NaN,NaN,...,NaN,UTC,48.85667,-129.16617,NaN,292.6,NaN,NaN,NaN,9
12,16:39,NaN,NaN,1,NaN,NaN,0.49,NaN,NaN,NaN,...,NaN,UTC,48.89317,-129.66550,NaN,291.8,NaN,NaN,NaN,10
13,20:07,NaN,NaN,1,NaN,NaN,0.54,NaN,NaN,NaN,...,NaN,UTC,48.93333,-130.16701,NaN,293.3,NaN,NaN,NaN,11
14,23:23,NaN,NaN,12,NaN,NaN,0.47,NaN,NaN,NaN,...,NaN,UTC,48.97050,-130.66667,NaN,294.8,NaN,NaN,NaN,12
15,23:23,NaN,NaN,13,NaN,NaN,0.48,NaN,NaN,NaN,...,NaN,UTC,48.97050,-130.66667,NaN,294.9,NaN,NaN,NaN,12
16,02:34,2174.0,NaN,23,2013.80,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,48.97066,-130.66701,NaN,293.1,NaN,NaN,NaN,12
17,02:34,NaN,NaN,24,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,48.97066,-130.66701,NaN,292.9,NaN,NaN,NaN,12
18,08:27,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.04300,-131.66716,NaN,290.3,NaN,NaN,NaN,13
19,13:17,NaN,NaN,1,NaN,NaN,0.64,NaN,NaN,NaN,...,NaN,UTC,49.12383,-132.66716,NaN,295.2,NaN,NaN,NaN,14
20,18:10,NaN,NaN,1,NaN,NaN,0.77,NaN,NaN,NaN,...,NaN,UTC,49.20050,-133.66583,NaN,299.4,NaN,NaN,NaN,15
21,23:52,NaN,NaN,12,NaN,NaN,0.74,NaN,NaN,NaN,...,NaN,UTC,49.28316,-134.66650,NaN,306.0,NaN,NaN,NaN,16
22,23:52,NaN,NaN,13,NaN,NaN,0.77,NaN,NaN,NaN,...,NaN,UTC,49.28316,-134.66650,NaN,305.9,NaN,NaN,NaN,16
23,23:52,NaN,NaN,14,NaN,NaN,0.73,NaN,NaN,NaN,...,NaN,UTC,49.28316,-134.66650,NaN,305.7,NaN,NaN,NaN,16
24,02:27,2192.1,NaN,24,2030.90,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.28300,-134.66634,NaN,303.9,NaN,NaN,NaN,16
25,09:08,NaN,NaN,1,NaN,NaN,0.45,NaN,NaN,NaN,...,NaN,UTC,49.35000,-135.66750,NaN,298.0,NaN,NaN,NaN,17
26,14:10,NaN,NaN,1,NaN,NaN,0.46,NaN,NaN,NaN,...,NaN,UTC,49.43350,-136.66667,NaN,297.0,NaN,NaN,NaN,18
27,19:28,NaN,NaN,1,NaN,NaN,0.57,NaN,NaN,NaN,...,NaN,UTC,49.50000,-137.66650,NaN,300.0,NaN,NaN,NaN,19
28,00:40,NaN,NaN,12,NaN,NaN,0.48,NaN,NaN,NaN,...,NaN,UTC,49.56867,-138.66733,NaN,305.9,NaN,NaN,NaN,20
29,00:40,NaN,NaN,13,NaN,NaN,0.50,Sample Number 199: Oxygen:Dissolved:Bottle - o...,NaN,NaN,...,NaN,UTC,49.56867,-138.66733,NaN,305.9,NaN,NaN,NaN,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,22:03,NaN,18.0,18,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,50.00050,-144.99966,0.710,311.6,NaN,5.4,5.8913,26
474,22:03,NaN,19.0,19,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,50.00050,-144.99966,0.723,312.1,NaN,5.5,5.8922,26
475,22:03,NaN,20.0,20,NaN,NaN,0.40,NaN,NaN,NaN,...,NaN,UTC,50.00050,-144.99966,0.629,312.1,NaN,5.5,5.9306,26
476,00:08,NaN,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,0.062,51.6,NaN,2001.5,1.9615,26
477,00:08,NaN,2.0,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,0.062,51.5,NaN,2001.6,1.9613,26
478,00:08,NaN,3.0,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,0.062,51.6,NaN,2001.1,1.9614,26
479,00:08,NaN,4.0,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,0.062,51.6,NaN,2001.3,1.9612,26
480,00:08,NaN,5.0,5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,0.067,18.6,NaN,1000.2,2.9628,26
481,00:08,NaN,6.0,6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,0.066,18.6,NaN,1001.4,2.9624,26
482,00:08,NaN,7.0,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,0.066,18.6,NaN,1000.7,2.9628,26
483,00:08,NaN,8.0,8,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,0.066,18.6,NaN,1000.8,2.9628,26
484,00:08,NaN,9.0,9,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,0.067,37.5,NaN,500.8,3.8487,26
485,00:08,NaN,10.0,10,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,0.067,37.4,NaN,501.0,3.8471,26
486,00:08,NaN,11.0,11,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,0.068,37.4,NaN,500.6,3.8460,26
487,00:08,NaN,12.0,12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,0.068,37.2,NaN,501.1,3.8440,26
488,00:08,NaN,13.0,13,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,0.072,73.6,NaN,300.9,4.0226,26
489,00:08,NaN,14.0,14,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,0.952,306.0,NaN,98.5,5.8573,26
490,00:08,NaN,15.0,15,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,1.252,310.1,NaN,50.3,5.8905,26
491,00:08,NaN,16.0,16,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,1.225,311.6,NaN,24.8,5.8992,26
492,00:08,NaN,17.0,17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,1.079,311.7,NaN,10.0,5.8988,26
493,00:08,NaN,18.0,18,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,1.053,312.0,NaN,9.9,5.8988,26
494,00:08,NaN,19.0,19,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,1.067,311.5,NaN,10.1,5.8989,26
495,00:08,NaN,20.0,20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,1.046,311.7,NaN,9.9,5.8989,26
496,00:08,NaN,21.0,21,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,1.065,311.8,NaN,10.0,5.8992,26
497,00:08,NaN,22.0,22,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99933,-144.99950,1.016,311.9,NaN,5.7,5.9030,26
498,05:27,NaN,2.0,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,49.99900,-144.30350,1.418,NaN,NaN,4.9,6.0100,35
499,05:27,NaN,1.0,1,NaN,NaN,0.55,Sample Number 9295: All variables - sample 295...,NaN,NaN,...,NaN,UTC,49.99900,-144.30350,1.453,NaN,NaN,5.3,6.0104,35
500,02:45,NaN,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,50.14233,-144.83234,1.383,313.1,NaN,10.3,5.8780,A-011
501,02:45,NaN,2.0,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,50.14233,-144.83234,1.371,313.5,NaN,7.4,5.8914,A-011
502,02:45,NaN,3.0,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UTC,50.14233,-144.83234,1.362,313.8,NaN,4.7,5.8798,A-011